* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    padding    : 20px 70px 20px 32px;
    display    : flex;
    align-items: center;
    margin-bottom: 50px;
}

.menu__button {
    padding         : 0;
    margin-right    : 28px;
    display         : flex;
    flex-direction  : column;
    justify-content : space-between;
    background-color: #fff;
    height          : 17px;
    width           : 20px;
    border          : none;
    cursor          : pointer;
}

.logo {
    margin-right: 59px;
}

.menu__line {
    display      : block;
    background   : #1f2022;
    width        : 20px;
    height       : 3px;
    border-radius: 20px;
}

.input__group {
    background     : #EBEBEB;
    border-radius  : 22px;
    display        : flex;
    justify-content: space-between;
    align-items    : center;
    padding-right  : 17px;
    max-width      : 830px;
    width          : 50%;
}

.input__search {
    background-color: transparent;
    border          : none;
    padding         : 12px 23px 12px 23px;
    width: 100%;
}

.button__search {
    padding   : 0;
    height    : 19px;
    width     : 19px;
    border    : none;
    background: transparent;
    cursor    : pointer;
}

.icon__search {
    fill: black;
}

.icons {
    display    : flex;
    align-items: center;
    margin-left: auto;
}

.icons__link {
    text-decoration: none;
    opacity        : 0.24;
}

.icons__link:hover {
    opacity: 0.7;
}

.icons__link:not(last-child) {
    margin-right: 50px;
}

.user {
    margin-left: 45px;
}

.user__avatar {
    width        : 40px;
    height       : 40px;
    border-radius: 50%;
}

.sidebar {
padding-left: 32px;
}

.nav__menu {
    margin: 0 0 60px;
padding-left: 0;
list-style: none;
}

.nav__item {
    margin-bottom: 28px;
}

.nav__link{
    color: #898989;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.nav__item .icon {
    fill: #898989;
}

.nav__text {
    margin-left: 13px;
}