* {
    box-sizing: border-box;
}

body {
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

ul {
    list-style: none;
}

.header {
    padding      : 20px 70px 20px 32px;
    display      : flex;
    align-items  : center;
    margin-bottom: 50px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
}

.menu__button {
    padding         : 0;
    margin-right    : 28px;
    display         : flex;
    flex-direction  : column;
    justify-content : space-between;
    background-color: #fff;
    height          : 17px;
    width           : 20px;
    border          : none;
    cursor          : pointer;
}

.logo {
    margin-right: 59px;
}

.menu__line {
    display      : block;
    background   : #1f2022;
    width        : 20px;
    height       : 3px;
    border-radius: 20px;
}

.input__group {
    background     : #EBEBEB;
    border-radius  : 22px;
    display        : flex;
    justify-content: space-between;
    align-items    : center;
    padding-right  : 17px;
    max-width      : 830px;
    width          : 50%;
}

.input__search {
    background-color: transparent;
    border          : none;
    padding         : 12px 23px 12px 23px;
    width           : 100%;
}

.button__search {
    padding   : 0;
    height    : 19px;
    width     : 19px;
    border    : none;
    background: transparent;
    cursor    : pointer;
}

.icon__search {
    fill: black;
}

.icons {
    display    : flex;
    align-items: center;
    margin-left: auto;
}

.icons__link {
    text-decoration: none;
    opacity        : 0.24;
}

.icons__link:hover {
    opacity: 0.7;
}

.icons__link:not(last-child) {
    padding-right: 50px;
}

.user {
    margin-left: 45px;
}

.user__avatar {
    width        : 40px;
    height       : 40px;
    border-radius: 50%;
}

.sidebar {
    padding-left: 32px;
    position: fixed;
    left: 0;
    top: 114px;
    height: calc(100% - 114px);
    overflow-y: auto;
    width: 12%;
}

.content {
    width: 100%;
    height: 400px;
    margin-top: 85px;
    padding-left: 13%;
    padding-top: 30px;
}

.nav__menu {
    margin      : 0 0 60px 0px;
    padding-left: 0;
    list-style  : none;
}

.nav__item {
    margin-bottom: 28px;
}

.nav__link {
    color          : #898989;
    text-decoration: none;
    display        : flex;
    align-items    : center;
}

.nav__link:hover {
    color: #ff0000;
}

.nav__link:hover .icon {
    fill: #ff0000;
}

.nav__item .icon {
    fill: #898989;
}

.nav__text {
    margin-left: 13px;
}

.nav__image {
    width        : 26px;
    height       : 26px;
    border-radius: 50%;
}

.nav__title {
    font-family  : Mulish;
    font-weight  : bold;
    font-size    : 18px;
    line-height  : 23px;
    margin-bottom: 30px;
}

.channel__title {
display: flex;
align-items: center;
text-decoration: none;
color: #19202C;
font-weight: bold;
font-size: 26px;
line-height: 33px;
}

.channel__avatar {
    widows: 50px;
    height: 50px;
    border-radius: 50%;
}

.Channel__text {
    margin-left: 20px;
}

.video__thumb {
    width: 250px;
    height: 150px;
    overflow: hidden;
    border-radius: 14px;
    position: relative;
}

.thumbnail{
    width: 250px;
    height: 150px;
    object-fit: cover;
}

.video__duration {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 12px;
    font-size: 14px;
    line-height: 18px;
    color: #fff;
    padding: 3px 9px;
}

.video__title {
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #19202c;
}